@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 270deg 100% 44%;
        --color-primary-hover: 270deg 100% 34%;
        --color-primary-active: 270deg 100% 24%;
    }

    :root.wcag {
        --color-primary: 230deg 100% 40%;
        --color-primary-hover: 230deg 100% 30%;
        --color-primary-active: 230deg 100% 20%;
    }
}

// @import 'swiper/swiper.scss';
// @import 'swiper/modules/navigation.scss';

// Settings
@import './settings/variables';
@import './settings/fonts';
@import './settings/typography';
@import './utils/gravity-forms';
@import './settings/accessibility';

// Utilities
@import './utils/tooltips';
@import './utils/toggles';
@import './utils/modal';
@import './utils/buttons';

// Globals
@import './base/global';
@import './header/submenu';
@import './header/relevanssi';

* {
    box-sizing: border-box;
}
